<h1> My Posts </h1>
<ul class="list-group">
  <% @posts.each do |post| %>
    <li class="list-group-item">
      <div class="row">
        <div class="col-auto me-auto">
          <h2> <%= post.title%> </h2>
          <%= post.body %>
        </div>
        <div class="col-auto">
          <%= button_to "Destroy", { controller: :posts, action: 'destroy', id: post.id },
              method: :delete, class:"btn btn-outline-danger" %>
        </div>
      </div>
    </li>
  <%end%>
</ul>
</br>
<%= link_to 'New Post', new_post_url, class:"btn btn-outline-primary"  %>
